dataset:
#  root: /mnt/d/meshgpt/0planar_shapes_new
  root: G:/Projects/img2brep/data/0planar_shapes_new
  dataset_name: ABC
  overfit: false
  tokenized_batch_size: 16

trainer:
  learning_rate: 1e-4
  gpu: 1 #[0,1,2,3,4,5,6,7,8,9]
  num_worker: 0

  vis_recon_faces: true
  train_transformer: false
  condition_on_text: true

  num_samples: -1
  batch_size: 4

  spawn: false
  checkpoint_autoencoder:
  resume_from_checkpoint:
  evaluate: false
  output: .
  check_val_every_n_epoch: 1000
  accelerator: "32-true"

model:
  model_name: PC_model
  with_bn: true
  channels: 3
  output_channels: 1
  need_normalize: true
  voxelize_res: 256
  test_threshold: 0.5
  focal_alpha: 0.75

hydra:
  run:
    dir: ./outputs/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled