dataset:
  root: H:\Data\img2brep\deepcad_10000
  dataset_name: ABC
  overfit: true
  tokenized_batch_size: 16

trainer:
  learning_rate: 1e-4

  gpu: [ 0 ]
  num_worker: 0
  batch_size: 4
  #  gpu: [ 0, 1 ]
  #  num_worker: 4
  #  batch_size: 4

  vis_recon_faces: true
  train_autoregressive: false

  num_samples: -1

  spawn: false
  resume_from_checkpoint:
  evaluate: false
  output: .
  check_val_every_n_epoch: 100
  accelerator: "32-true"

model:
  intersector: "Attn_intersector"
  #  intersector: "Attn_intersector_classifier"
  decoder: "Small_decoder_plus"

  checkpoint_autoencoder: G:\workplace\python_server\python\src\img2brep\brep\outputs_img2brep\2024_04_15_23_36_01\tb_logs_brepgen\autoencoder\version_0\checkpoints\epoch=151999-step=456000.ckpt

hydra:
  run:
    dir: ./outputs_img2brep/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled