dataset:
  #  root: H:\Data\img2brep\deepcad_10000
  root: G:/Dataset/img2brep/deepcad_10000/main_data
  dataset_name: ABC
  overfit: true
  tokenized_batch_size: 16
  bbox_discrete_dim: 256
  coor_discrete_dim: 128

trainer:
  learning_rate: 1e-4

  gpu: 1
  num_worker: 4
  batch_size: 8
  #  gpu: [ 0, 1 ]
  #  num_worker: 4
  #  batch_size: 4

  vis_recon_faces: true
  train_autoregressive: true

  num_samples: -1
  max_epochs: 10000000

  spawn: false
  resume_from_checkpoint: #G:\workplace\python_server\python\src\img2brep\brep\outputs_img2brep\2024_04_21_21_19_10\tb_logs_brepgen\transformer\version_0\checkpoints\last.ckpt
  evaluate: false
  output: .

  check_val_every_n_epoch: 100
  #  accelerator: "16-mixed"
  accelerator: "32-true"

model:
  #  intersector: "Attn_intersector"
  intersector: "Attn_intersector_classifier"
  #  intersector: "Proj_intersector"

  #  encoder: "Continuous_encoder"
  #  decoder: "Small_decoder_plus"

  encoder: "Discrete_encoder"
  decoder: "Discrete_decoder"

  checkpoint_autoencoder: G:\workplace\python_server\python\src\img2brep\brep\outputs_img2brep\2024_04_17_15_08_57\tb_logs_brepgen\autoencoder\version_0\checkpoints\last.ckpt
  bbox_discrete_dim: 256
  coor_discrete_dim: 128

  #  graphconv: "SAGE"
  graphconv: "GAT"


hydra:
  run:
    dir: ./outputs_img2brep/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled