dataset:
  #  train_dataset: G:/Dataset/img2brep/deepcad_10000_v2
  train_dataset: G:/Dataset/img2brep/deepcad_10000_v2
  val_dataset: G:/Dataset/img2brep/deepcad_10000_v2
  test_dataset: G:/Dataset/img2brep/deepcad_10000_v2
  dataset_name: ABC
  bbox_discrete_dim: 256
  coor_discrete_dim: 128
  num_max_faces: 36
  length_scaling_factors: 100

trainer:
  learning_rate: 1e-4

  gpu: 1
  num_worker: 0
  batch_size: 1
  #  gpu: [ 0, 1 ]
  #  num_worker: 4
  #  batch_size: 4

  train_autoregressive: false

  max_epochs: 10000000
  spawn: false
  resume_from_checkpoint:
  evaluate: false
  save_face_embedding: false
  test_output_dir: "G:/Dataset/img2brep/test_temp"
  output: .
  check_val_every_n_epoch: 10
  #  accelerator: "16-mixed"
  accelerator: "32-true"

model:
  dim_latent: 768

  #  intersector: "Attn_intersector"
  intersector: "Attn_intersector_classifier"
  #  intersector: "Proj_intersector"

  #  encoder: "Continuous_encoder"
  #  decoder: "Small_decoder_plus"

  encoder: "Discrete_encoder"
  decoder: "Discrete_decoder"

  checkpoint_autoencoder:
  bbox_discrete_dim: 256
  coor_discrete_dim: 128

  #  graphconv: "SAGE"
  graphconv: "GAT"

  num_max_faces: 36

hydra:
  run:
    dir: ./outputs_img2brep/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled