dataset:
  #  root: /mnt/d/meshgpt/0planar_shapes_new
  #  root: /mnt/d/meshgpt/deepcad_10000/main_data
  #  root: /mnt/d/meshgpt/deepcad_whole
  #  root: /mnt/d/yilin/img2brep/deepcad_whole
  root: G:/Dataset/img2brep/deepcad_10000/main_data
  dataset_name: ABC
  overfit: true
  tokenized_batch_size: 16

trainer:
  learning_rate: 1e-4

  gpu: 1
  num_worker: 0
  batch_size: 4
  #  gpu: [ 0, 1 ]
  #  num_worker: 4
  #  batch_size: 4

  vis_recon_faces: true
  train_transformer: false
  condition_on_text: true

  num_samples: -1

  spawn: false
  checkpoint_autoencoder:
  resume_from_checkpoint: #/root/workspace/python/src/img2brep/brep/tb_logs_brepgen/autoencoder/0409_big_success/checkpoints/epoch=4399-step=88000.ckpt
  evaluate: false
  output: .
  check_val_every_n_epoch: 100
  accelerator: "32-true"

model:
#  intersector: "Attn_intersector"
  intersector: "Attn_intersector_classifier"

hydra:
  run:
    dir: ./outputs_img2brep/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled