[submodule "thirdparty/visualDet3D"]
	path = thirdparty/visualDet3D
	url = https://github.com/whatseven/visualDet3D
[submodule "thirdparty/kitti-object-eval-python"]
	path = thirdparty/kitti-object-eval-python
	url = https://github.com/traveller59/kitti-object-eval-python
[submodule "thirdparty/Pointnet_Pointnet2_pytorch"]
	path = thirdparty/Pointnet_Pointnet2_pytorch
	url = https://github.com/yanx27/Pointnet_Pointnet2_pytorch
[submodule "thirdparty/AA_RMVSNet"]
	path = thirdparty/AA_RMVSNet
	url = https://github.com/qt-zhu/aa-rmvsnet
[submodule "thirdparty/CasMVSNet_pl"]
	path = thirdparty/CasMVSNet_pl
	url = https://github.com/kwea123/CasMVSNet_pl
[submodule "thirdparty/faiss"]
	path = thirdparty/faiss
	url = https://github.com/facebookresearch/faiss
	branch = main
[submodule "thirdparty/tiny-cuda-nn"]
	path = thirdparty/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn
	branch = master
