dataset:
  dataset_name: "AutoEncoder_dataset"

  train_dataset: /mnt/d/deepcad_whole_test_v5
  val_dataset: /mnt/d/deepcad_whole_test_v5
  test_dataset: /mnt/d/deepcad_whole_test_v5

trainer:
  gpu: 1
  num_worker: 0
  batch_size: 4
  learning_rate: 1e-4
  check_val_every_n_epoch: 1
#  accelerator: "16-mixed"
  accelerator: "32-true"

  # Evaluation
  evaluate: false
  test_output_dir:
  resume_from_checkpoint:

  max_epochs: 10000000
  spawn: false
  output: .
  exp_name: test

model:
  name: AutoEncoder_featuredv2
  dim_latent: 32
  dim_shape: 32
  norm: "layer"
  gaussian_weights: 1e-6

hydra:
  run:
    dir: ./outputs_brepnet
  job:
    chdir: False