dataset:
  dataset_name: "AutoEncoder_dataset"

  train_dataset: D:/img2brep/deepcad_whole_test_v3
  val_dataset: D:/img2brep/deepcad_whole_test_v3
  test_dataset: D:/img2brep/deepcad_whole_test_v3

trainer:
  gpu: 1
  num_worker: 0
  batch_size: 4
  learning_rate: 1e-4
  check_val_every_n_epoch: 1
#  accelerator: "16-mixed"
  accelerator: "32-true"

  # Evaluation
  evaluate: false
  test_output_dir:
  resume_from_checkpoint:

  max_epochs: 10000000
  spawn: false
  output: .
  exp_name:

model:
  diffusion_causal: false

hydra:
  run:
    dir: ./outputs_brepnet/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False