dataset:
  name: "Diffusion_dataset"

  face_z: /root/repo/python/outputs_brepnet/0925_pure_face_z
  train_dataset: D:/img2brep/deepcad_whole_test_v5
  val_dataset: D:/img2brep/deepcad_whole_test_v5
  test_dataset: /mnt/d/deepcad_test_v6

  deduplicate_list: 0
  pad_method: zero

  scale_factor: 1
  condition:
  overfit: false
  is_aug: 0
  
  length: 1000
  num_max_faces: 64

trainer:
  gpu: 1
  num_worker: 0
  batch_size: 32
  learning_rate: 1e-4
  check_val_every_n_epoch: 1
  # accelerator: "16-mixed"
  accelerator: "32-true"

  # Evaluation
  evaluate: false
  test_output_dir:
  max_steps: -1
  resume_from_checkpoint:

  max_epochs: 10000000
  spawn: false
  output: .
  exp_name: test

model:
  name: Diffusion_base
  train_decoder: false
  stored_z: True
  condition:

  diffusion_latent: 512
  diffusion_type: sample
  loss: l2
  pad_method: zero
  num_max_faces: 64

  autoencoder: AutoEncoder_0925
  dim_latent: 8
  dim_shape: 768
  sigmoid: false
  in_channels: 3
  gaussian_weights: 0
  norm: "layer"
  autoencoder_weights: 

hydra:
  run:
    dir: ./outputs_brepnet_diffusion
  job:
    chdir: False
