dataset:
  scene_boundary: [0., 0., 0., 1., 1., 1.]
  colmap_dir: "H:/Data/SIGA23/Baseline/data/Mechanism/00000952"
  #colmap_dir: "H:/Data/SIGA23/Baseline/data/00000077"
  #scene_boundary: [0.1186, -0.3080, -0.4349, 8.7124, 8.9280, 2.4062]
  #colmap_dir: "H:/Data/SIGA23/Baseline/data/Scene1"
#  colmap_dir: "H:/Data/SIGA23/Baseline/data/00000077"

#  colmap_dir: "E:/DATASET/SIGA2023/Mechanism/ABC-NEF-COLMAP/00000077"
#  colmap_dir: "G:/Dataset/00000077"
  only_train_target: true
  id_viz_face: []
  id_viz_edge: [9118]
  v_reconstruct_data: true

trainer:
  check_val_every_n_epoch: 10
  learning_rate: 1e-5
  gpu: 1
  num_worker: 0
  batch_size: 128
  auto_lr_find: false
#  resume_from_checkpoint: outputs/2023_03_28_15_25_48/lightning_logs/version_0/checkpoints/epoch=12999-step=13000.ckpt
  resume_from_checkpoint:
  evaluate: false
  running_sanity_check: false
  output: .

  loss_weight: [1, 0.01, 0] # similarity_weight, normal_weight, normalization_weight
  num_sample: 1000 # number of gaussian sample
  img_model: "sample" # ["model", "sample"]

model:
  model_name: Recover_wires
  regress_normal: false

hydra:
  run:
    dir: ./outputs/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled