dataset:
  scene_boundary: [-1.5, -1.5, -1.5, 1.5, 1.5, 1.5]
#  colmap_dir: "C:/DATASET/Test_imgs2_colmap_neural/sparse_align"
#  colmap_dir: "d:/Projects/NeuralRecon/Test_data/OBL_L7/Test_imgs2_colmap_neural/sparse_align"
  colmap_dir: "C:/Users/whats/Dropbox/Project/2022-NeuralStructure/Illustrations/Cube"
  img_nif_dir: "output/neural_recon/img_nif_log"
  original_img_size: [1920,1080]
  trained_img_size: [600,400]
  num_sample: [0,1000000,1000000,100000] # On surface, near surface, uniform, num segments / 4
  resample_after_n_epoches: 100

trainer:
  check_val_every_n_epoch: 100
  learning_rate: 1e-4
  gpu: 1
  num_worker: 8

#  batch_size: 4096
  batch_size: 1000
  auto_lr_find: false
  resume_from_checkpoint:
  evaluate: false
  running_sanity_check: false

  output: neural_recon

model:
  model_name: Uncertainty_Modeling
  marching_cube_resolution: 128

hydra:
  run:
    dir: .
  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled