dataset:
  scene_boundary: [-1.5, -1.5, -1.5, 1.5, 1.5, 1.5]
#  colmap_dir: "C:/DATASET/Test_imgs2_colmap_neural/sparse_align"
  colmap_dir: "d:/Projects/NeuralRecon/Test_data/OBL_L7/Test_imgs2_colmap_neural/sparse_align"
#  colmap_dir: "C:/Users/whats/Dropbox/Project/2022-NeuralStructure/Illustrations/Cube"
  data_dir: "output/segment_104"
  original_img_size: [1920,1080]
  trained_img_size: [600,400]
  num_sample: [0,1000000,1000000,10000] # On surface, near surface, uniform, num segments / 4
  resample_after_n_epoches: 10000

trainer:
  check_val_every_n_epoch: 1000
  learning_rate: 1e-4
  gpu: 1
  num_worker: 4

  batch_size: 4096
  auto_lr_find: false
#  resume_from_checkpoint: lightning_logs/version_106/checkpoints/epoch=8999-step=117000.ckpt
  resume_from_checkpoint:
  evaluate: false
  running_sanity_check: false

  output: output/img_field_test/imgs_log

model:
  model_name: Uncertainty_Modeling
  marching_cube_resolution: 128

hydra:
  run:
    dir: .
  output_subdir: null
  job:
    chdir: False
#  job_logging: disabled
#  hydra_logging: disabled