dataset:
  scene_boundary: [ -40, -40, -5, 130,150,60 ]
  #  colmap_dir: "C:/DATASET/Test_imgs2_colmap_neural/sparse_align"
  colmap_dir: "d:/Projects/NeuralRecon/Test_data/OBL_L7/Test_imgs2_colmap_neural/sparse_align"
  #  colmap_dir: "C:/Users/whats/Dropbox/Project/2022-NeuralStructure/Illustrations/Cube"
  data_dir: "output/gt_loss"
  original_img_size: [ 6000,4000 ]
  trained_img_size: [ 600,400 ]
  num_sample: [ 0,10000,10000 ] # On surface, near surface, uniform
  resample_after_n_epoches: 10000

trainer:
  check_val_every_n_epoch: 10000
  learning_rate: 1e-4
  gpu: 1
  num_worker: 4

  batch_size: 4096
  #  batch_size: 1000
  auto_lr_find: false
  resume_from_checkpoint:
  evaluate: false
  running_sanity_check: false

  output: neural_recon

model:
  model_name: Uncertainty_Modeling
  marching_cube_resolution: 128

hydra:
  run:
    dir: .
  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled