dataset:
  root: D:/DATASET/BSP/03636649_vox256_img_train.hdf5

trainer:
  learning_rate: 1e-4
  gpu: 1
  num_worker: 0

  batch_size: 32
  resume_from_checkpoint:
  evaluate: false
  output: .
  check_val_every_n_epoch: 10

model:
  model_name: BSP_base_model
  phase: 0

hydra:
  run:
    dir: ./outputs/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled