dataset:
  root: G:/Dataset/GSP/test_data_whole2
  dataset_name: ABC_test_voxel
#  type: gt
  type: ndc
  output_dir: G:/Dataset/GSP/test_data_whole2/pred_voronoi_v15

trainer:
  learning_rate: 1e-4
  gpu: 1
  num_worker: 1

  spawn: true
  num_samples: -1
  batch_size: 128
#  resume_from_checkpoint: output/neural_bsp/1127_v14_parsenet_unet.ckpt
  resume_from_checkpoint: output/neural_bsp/1215_v15+_parsenet_unet_base16_focal75_wonormal_channel4_float32.ckpt
#  resume_from_checkpoint: output/neural_bsp/1016_v9_base_wo_normal.ckpt
#  resume_from_checkpoint: output/neural_bsp/1106_v11_ndc_unet.ckpt
  evaluate: true
  output: .
  check_val_every_n_epoch: 1
  accelerator: "32-true"

model:
#  model_name: Base_model_dilated_backup
  model_name: Base_model_UNet
  channels: 4
  base_channel: 16
  need_normalize: false
  with_bn: true
  output_channels: 1

  test_threshold: 0.5
  test_resolution: 256
  focal_alpha: 0.75

hydra:
  run:
    dir: ./outputs/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled