dataset:
  root: G:\Dataset\GSP\v13_100k/training.h5
  dataset_name: ABC_patch_pc
  is_bool_flag: true
  mini_batch_size: 24

  overfit: false
  max_training_sample: 262144
  test_list: []

trainer:
  learning_rate: 1e-4
  gpu: 1
  num_worker: 0

  spawn: false
  num_samples: -1
  batch_size: 1
  resume_from_checkpoint:
  evaluate: false
  output: .
  check_val_every_n_epoch: 1
  accelerator: "32-true"

model:
  model_name: PC_model
  with_bn: true
  channels: 3
  output_channels: 1
  need_normalize: true
  voxelize_res: 256

  test_threshold: 0.5
  focal_alpha: 0.75

hydra:
  run:
    dir: ./outputs/${now:%Y_%m_%d_%H_%M_%S}
  job:
    chdir: False
#  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled