trainer:
  learning_rate: 1e-4
  gpu: 1
  num_worker: 0
  train_dataset: D:\DATASET\KITTI\3DDetection\data_object_image_2\training
  valid_dataset: D:\DATASET\KITTI\3DDetection\data_object_image_2\training

  batch_size: 256
  auto_lr_find: false
  resume_from_checkpoint:
  evaluate: false
  running_sanity_check: false
model:
  is_preprocess: false
  preprocess_path: C:\repo\python\temp\regress_test_45k
  target_data_dir: D:\Projects\Reconstructability\Scene\bridge_45K\default_noredundancy_nominmax\log
  error_point_cloud_dir: D:\Projects\Reconstructability\Scene\bridge_45K\completeness_smith.ply


hydra:
  run:
    dir: .
  output_subdir: null
#  job_logging: disabled
#  hydra_logging: disabled